{% extends "base.html" %}

{% block title %}
About Me
{% endblock %}


{% block content %}
<h1>About Me Page</h1>

<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="-matthewhung-" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/-matthewhung-?trk=profile-badge">Matthew Hung</a></div>
              
{% endblock %}
